<!DOCTYPE html>
<html dir="rtl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Store</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{{ url_for('static', filename='templatemo_style.css') }}" rel="stylesheet" type="text/css" />
<style type="text/css">
    p{
        float: right;
        font-size: 16px;
        color: lightblue;
    }
</style>
</head>
<body>
<div id="templatemo_container">
	<div id="templatemo_menu">
    	<ul>
            <li><a href="/" class="current">Home</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Books</a></li>            
            <li><a href="#">New Releases</a></li>  
            <li><a href="Company">Company</a></li> 
            <li><a href="#">Contact</a></li>
    	</ul>
    </div> <!-- end of menu -->
    <div id="templatemo_header">
        <div id="templatemo_special_offers">
            <p style="text-align: center;">
                <a href="https://www.tibf.ir" target="_blank">THE 31th TEHRAN INTERNATIONAL BOOK FAIR</a><br> 
                <a href="https://www.tibf.ir" target="_blank">سی و یکمین نمایشگاه بین المللی کتاب تهران</a>
            </p>
            <!--
            <a href="subpage.html" style="margin-left: 50px;">Read more...</a> -->
        </div>
        
        
        <div id="templatemo_new_books">
            <ul>
                <li>پشتیبانی کامل از زبان شیرین پارسی</li>
                <li>بکارگیری دیتابیس sqlite</li>
                <li>بکارگیری html و css</li>
            </ul>
            <!--
            <a href="subpage.html" style="margin-left: 50px;">Read more...</a> -->
        </div>
    </div>
    
    <div id="templatemo_content">
    	
        <div id="templatemo_content_left">
        	<div class="templatemo_content_left_section">
            	<h1>Categories</h1>
                <ul>
                    <li><a href="/subpage">Internal Books</a></li>
                    <li><a href="/subpage">External Books</a></li>
            </div>
			<div class="templatemo_content_left_section">
            	<h1>Bestsellers</h1>
                <ul>
                    <li><a target="_blank" href="https://www.tibf.ir/en">Tehran International Book Fair</a></li>
            	</ul>
            </div>
        </div> <!-- end of content left -->
        <div id="templatemo_content_right">
            {% for i in range(0, 10, 2) %}
        	<div class="templatemo_product_box">
            	<h1>{{ data[0][i] }}</h1>
   	      <img src="{{ data[1][i] }}" width="100" height="150" alt="image" />
                <div class="product_info">
                    <ul style="list-style-type:none">
                      <li><p>نویسنده:{{data[2][i]}}</p><br></li>
                      <li><h3 style="font-size: small; float: right;">  قیمت :  {{ data[3][i] }} ریال</h3></li>
                    </ul>  

                    <div class="detail_button"><a href="/detail/{{i}}">Detail</a></div>

                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            <div class="templatemo_product_box">

                <h1>{{ data[0][i+1] }}</h1>
          <img src="{{ data[1][i+1]}}" width="100" height="150" alt="image" />
                <div class="product_info">
                    <ul style="list-style-type:none">
                      <li><p>نویسنده:{{data[2][i+1]}}</p><br></li>
                      <li><h3 style="font-size: small; float: right;">  قیمت :  {{ data[3][i+1] }} ریال</h3></li>
                    </ul>
                    <div class="detail_button"><a href="/detail/{{i+1}}">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            {% endfor %}
            <table>
                <th><div class="detail_button"><a href="/nextpage">Next Page</a></div></th>
                <th><form method="POST" action="\goto">
                    <input type="Search" name="page" placeholder="Page number + Enter" style="background-color: lightgreen; border-style: groove; border-radius: 5px">
                </form></th>
                <th><div class="detail_button"><a href="/previouspage">Previous Page</a></div></th>
                <th></th>
            </table>
            
            <div class="cleaner_with_width">&nbsp;</div>
           
        </div> <!-- end of content right -->
    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
    <div id="templatemo_footer">
    
	       <a href="#">Home</a> | <a href="#">Search</a> | <a href="#">Books</a> | <a href="#">New Releases</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />
        Copyright © 2018 <strong><a href="/Company" target="_blank">Seyyed Ali Ayati</a> @ <a href="http://www.iust.ac.ir" target="_blank">CE | IUST</a></strong>
        	</div> 
    <!-- end of footer -->
</div> <!-- end of container -->
</body>
</html>