<!DOCTYPE html>
<html dir="rtl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Store</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{{ url_for('static', filename='templatemo_style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_container">
	<div id="templatemo_menu">
    	<ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#" class="current">Books</a></li>            
            <li><a href="#">New Releases</a></li>  
            <li><a href="/Company">Company</a></li> 
            <li><a href="#">Contact</a></li>
    	</ul>
    </div> <!-- end of menu -->
    <div id="templatemo_header">
        <div id="templatemo_special_offers">
            <p style="text-align: center;">
                <a href="https://www.tibf.ir" target="_blank">THE 31th TEHRAN INTERNATIONAL BOOK FAIR</a><br> 
                <a href="https://www.tibf.ir" target="_blank">سی و یکمین نمایشگاه بین المللی کتاب تهران</a>
            </p>
            <!--
            <a href="subpage.html" style="margin-left: 50px;">Read more...</a> -->
        </div>
        
        
        <div id="templatemo_new_books">
            <ul>
                <li>پشتیبانی کامل از زبان شیرین پارسی</li>
                <li>بکارگیری دیتابیس sqlite</li>
                <li>بکارگیری html و css</li>
            </ul>
            <!--
            <a href="subpage.html" style="margin-left: 50px;">Read more...</a> -->
        </div>
    </div>
    
    <div id="templatemo_content">
    	
        <div id="templatemo_content_left">
            <div class="templatemo_content_left_section">
                <h1>Categories</h1>
                <ul>
                    <li><a href="subpage.html">Internal Books</a></li>
                    <li><a href="subpage.html">External Books</a></li>
            </div>
            <div class="templatemo_content_left_section">
                <h1>Bestsellers</h1>
                <ul>
                    <li><a target="_blank" href="https://www.tibf.ir/en">Tehran International Book Fair</a></li>
                </ul>
            </div>
        </div> <!-- end of content left -->
        
        <div id="templatemo_content_right">
        	
            <h1> </h1>
            <div class="image_panel"><img src={{Data[0]}} alt="CSS Template" width="100" height="150"></div>
          <h2 style="font-size: 18px;">مشخصات کتاب</h2>
            <ul style="font-size: 16px; color:#50f442;">
                <li>نام کتاب : <p style="color: royalblue;"><br>{{ Data[1] }}</p></li>
                <li>نویسنده : <p style="color: royalblue;"><br>{{ Data[10] }}</p></li>
	            <li>ناشر : <p style="color: royalblue;"><br>{{ Data[2] }}</p></li>
            	<li>سال نشر : <p style="color: royalblue;"><br>{{ Data[3]}} </p></li>
                <li>شابک : <p style="color: royalblue;"><br>{{ Data[4] }}</p></li>
                <li>موضوع : <p style="color: royalblue;"><br>{{ Data[5] }}</p></li>
            </ul>

            <h2 style="font-size: 18px;">محل نگهداری کتاب</h2>
            <ul style="font-size: 16px; color:#50f442;">
                <li>بخش : <p style="color: royalblue;"><br>{{ Data[6] }}</p></li>
                <li>سالن : <p style="color: royalblue;"><br>{{ Data[7] }}</p></li>
                <li>راهرو : <p style="color: royalblue;"><br>{{ Data[8] }}</p></li>
                <li>غرفه : <p style="color: royalblue;"><br>{{ Data[9] }}</p></li>
            </ul>
            
             <div class="cleaner_with_height">&nbsp;</div>
            
        </div> <!-- end of content right -->
    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
    <div id="templatemo_footer">
	       <a href="index.html">Home</a> | <a href="#">Search</a> | <a href="#">Books</a> | <a href="#">New Releases</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />
        Copyright © 2018 <strong><a href="/Company" target="_blank">Seyyed Ali Ayati</a> @ <a href="http://www.iust.ac.ir" target="_blank">CE | IUST</a></strong>
	</div> <!-- end of footer -->
</div> <!-- end of container -->

</body>
</html>